body {
  background-color: #CFDCE8 ;
}

#sidebar {
  padding: 0;
  height: 100%;
  background-color: #212121;
}

.collection {
  border: 0;
  border-radius: 0;
  margin: 0;
  height: 100%;
}

.collection .collection-item {
  background-color: #212121;
  padding: 20px 20px;
  border: 0;
}

.collection a.collection-item:hover:not(.active) {
  background-color: #555;
}

.collection .collection-item.active {
  color: #fff;
}

#admin-content-header .col.s12 {
  padding: 0;
}

.tabs {
  background-color: #FAFCFD ;
}


.admin-content {
  padding: 20px;
}

.card-panel {
  padding: 10px;
  display: block;
  border: 1px solid #bbb;
}

.card-panel.graph {
  height: 430px;
}

.card-panel.today-total {
  height: 203px;
}

.card-title {
  padding-left: 10px;
  padding-right: 10px;
}


.bars {
  display: inline-block;
}

.bars li {
  display: table-cell;
  width: 70px;
  height: 250px;
  padding: 0 1%;
}

.bars .bar {
  display: block;
  position: relative;
  bottom: -20%;
  width: 100%;
  background-color: #2196f3;
}

.bars li span {
  position: relative;
  bottom: -25%;
  width: 100%;
  text-align: center;
}


.col.m10.offset-m2 {
  padding: 0;
}
