body {
  background-color: #212121;
}

.card-panel {
  background-color: transparent;
  border: 2px solid #ddd;
}

.btn-large {
  width: 150px;
}

.display-none {
  display: none;
}

.blank {
  height: 100px;
}
